.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

     /* comment & WhiteSpace in CSS and     class test.
        BTW, some are colorblind :) */ .wsInClass {
    color: green;
}
